.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px; }

p {
  color: #999999;
  font-size: 14px;
  line-height: 24px; }

h2 {
  font-size: 30px;
  color: #60606e;
  text-transform: uppercase;
  margin-bottom: 28px; }

h4 {
  text-transform: uppercase;
  font-size: 14px;
  color: #60606e;
  margin-bottom: 30px; }

.header {
  width: 100%;
  padding: 100px 0px;
  padding: 0;
  background: url(../IMG/bg_2.jpeg) center/cover no-repeat; }
  .header .wrapper {
    width: 100%;
    padding: 100px 0px;
    padding: 1px 0px;
    background-color: rgba(255, 255, 255, 0.85); }
    .header .wrapper .container {
      margin: 0 auto;
      padding: 0px 20px; }
      .header .wrapper .container .navigation {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header .wrapper .container .navigation .logo {
          flex: 0 1 20%;
          text-transform: uppercase;
          color: #60606e;
          font-size: 20px;
          font-weight: bold; }
        .header .wrapper .container .navigation .navigation_menu {
          flex: 0 1 60%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .header .wrapper .container .navigation .navigation_menu ul {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .header .wrapper .container .navigation .navigation_menu ul a {
              display: inline-block;
              text-align: center;
              color: #999999;
              font-size: 16px;
              background-color: #60606e;
              padding: 5px 15px;
              border-radius: 10px;
              width: 85px;
              transition: all .5s ease; }
              .header .wrapper .container .navigation .navigation_menu ul a:hover {
                color: #60606e;
                background-color: #999999; }
          .header .wrapper .container .navigation .navigation_menu .burger {
            display: inline-block;
            width: 40px;
            margin-left: 20px;
            position: relative; }
            .header .wrapper .container .navigation .navigation_menu .burger span {
              display: inline-block;
              width: 25px;
              height: 4px;
              background-color: #999999;
              margin-bottom: 8px; }
          .header .wrapper .container .navigation .navigation_menu .burger:before {
            content: "";
            display: inline-block;
            position: relative;
            left: 0;
            top: -2px;
            width: 40px;
            border-top: 4px solid #999999; }
          .header .wrapper .container .navigation .navigation_menu .burger:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 22px;
            width: 35px;
            border-top: 4px solid #999999; }
      .header .wrapper .container .header_content_item {
        margin-top: 210px;
        margin-bottom: 165px;
        position: relative; }
        .header .wrapper .container .header_content_item .header_content_head {
          text-align: center; }
          .header .wrapper .container .header_content_item .header_content_head h1 {
            color: #60606e;
            text-transform: uppercase;
            font-size: 36px;
            margin-bottom: 28px; }
          .header .wrapper .container .header_content_item .header_content_head a {
            text-transform: uppercase;
            color: #60606e;
            font-size: 14px; }
            .header .wrapper .container .header_content_item .header_content_head a:hover {
              color: #333; }

.blog {
  width: 100%;
  padding: 150px 0px; }
  .blog .blog_wrapper {
    display: flex;
    justify-content: space-between; }
    .blog .blog_wrapper .blog_sidebar {
      flex: 0 1 270px; }
      .blog .blog_wrapper .blog_sidebar form {
        display: block;
        width: 100%;
        position: relative; }
        .blog .blog_wrapper .blog_sidebar form input {
          background-color: #ececec;
          padding: 18px 0px 14px 16px;
          display: block;
          width: 100%;
          margin-bottom: 50px; }
          .blog .blog_wrapper .blog_sidebar form input::-webkit-input-placeholder {
            color: #999999;
            text-transform: uppercase; }
        .blog .blog_wrapper .blog_sidebar form button {
          width: 15px;
          height: 15px;
          display: inline-block;
          position: absolute;
          top: 17px;
          right: 25px;
          background: url(../IMG/sprait_blog.png) right center no-repeat;
          cursor: pointer; }
      .blog .blog_wrapper .blog_sidebar .sidebar_posts {
        margin-bottom: 50px; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_labels {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px; }
          .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_labels label {
            flex: 1 1 33.333%;
            text-transform: uppercase;
            text-align: center;
            color: #989898;
            font-size: 12px;
            padding-bottom: 20px;
            border-bottom: 2px solid #989898;
            transition: all .4s ease; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab input {
          visibility: hidden; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l1:checked ~ .blog_sidebar_labels label:first-child {
          color: #60606e;
          border-bottom: 2px solid #7beec7;
          transition: all 1s ease; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l1:checked ~ .blog_sidebar_item_wrapper .one {
          animation: tabs .5s ease alternate forwards; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l2:checked ~ .blog_sidebar_labels label:nth-child(2) {
          color: #60606e;
          border-bottom: 2px solid #7beec7;
          transition: all 1s ease; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l2:checked ~ .blog_sidebar_item_wrapper .two {
          animation: tabs .5s ease alternate forwards; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l3:checked ~ .blog_sidebar_labels label:last-child {
          color: #60606e;
          border-bottom: 2px solid #7beec7; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab #l3:checked ~ .blog_sidebar_item_wrapper .three {
          animation: tabs .5s ease alternate forwards; }
        .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper {
          position: relative;
          height: 260px; }
          .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0; }
            .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item a {
              display: flex;
              width: 100%;
              margin-bottom: 10px; }
              .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item a .blog_sidebar_tab_img {
                flex: 0 1 90px;
                height: 80px;
                background: url(../IMG/bg_1.jpeg) center/cover no-repeat;
                margin-right: 20px; }
              .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item a .blog_sidebar_tab_content {
                display: flex;
                justify-content: center;
                flex-direction: column; }
                .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item a .blog_sidebar_tab_content h4 {
                  margin-bottom: 8px; }
                .blog .blog_wrapper .blog_sidebar .sidebar_posts .blog_sidebar_tab .blog_sidebar_item_wrapper .blog_sidebar_tab_item a .blog_sidebar_tab_content p {
                  line-height: normal; }
      .blog .blog_wrapper .blog_sidebar .sidebar_categories {
        margin-bottom: 50px; }
        .blog .blog_wrapper .blog_sidebar .sidebar_categories .categories_link {
          width: 100%;
          border-bottom: 1px solid #989898; }
          .blog .blog_wrapper .blog_sidebar .sidebar_categories .categories_link a {
            display: flex;
            justify-content: space-between;
            padding: 20px 15px;
            color: #999999;
            font-size: 14px; }
      .blog .blog_wrapper .blog_sidebar .sidebar_tags {
        margin-bottom: 50px; }
        .blog .blog_wrapper .blog_sidebar .sidebar_tags .blog_sidebar_tags_links {
          display: flex;
          flex-wrap: wrap; }
          .blog .blog_wrapper .blog_sidebar .sidebar_tags .blog_sidebar_tags_links a {
            padding: 12px 19px;
            background-color: #e5e5e5;
            margin-right: 3px;
            margin-bottom: 4px;
            text-transform: uppercase;
            color: #999999;
            font-size: 12px;
            font-weight: bold; }
      .blog .blog_wrapper .blog_sidebar .sidebar_archives {
        margin-bottom: 50px; }
        .blog .blog_wrapper .blog_sidebar .sidebar_archives .archive_link {
          width: 100%;
          border-bottom: 1px solid #989898; }
          .blog .blog_wrapper .blog_sidebar .sidebar_archives .archive_link a {
            display: flex;
            justify-content: space-between;
            padding: 20px 15px;
            color: #999999;
            font-size: 14px; }
    .blog .blog_wrapper .blog_main {
      flex: 0 1 67%;
      margin-right: 50px; }
      .blog .blog_wrapper .blog_main .blog_portfolio {
        margin-bottom: 80px;
        width: 100%; }
        .blog .blog_wrapper .blog_main .blog_portfolio .blog_bisness_wrapper {
          height: 100%;
          width: 100%; }
          .blog .blog_wrapper .blog_main .blog_portfolio .blog_bisness_wrapper p {
            margin-bottom: 80px; }
          .blog .blog_wrapper .blog_main .blog_portfolio .blog_bisness_wrapper .blog_bisness_item {
            height: 500px;
            background: url(../IMG/bg_1.jpeg) center/cover no-repeat;
            width: 100%;
            margin-bottom: 20px; }

.information {
  width: 100%;
  background-color: #7beec7;
  padding: 50px 0px; }
  .information .container {
    display: flex;
    justify-content: space-between; }
    .information .container .information_button {
      flex: 0 1 49%;
      margin-right: 30px; }
      .information .container .information_button h2 {
        color: #fff;
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 30px; }
      .information .container .information_button a {
        display: inline-block;
        text-transform: uppercase;
        color: #7beec7;
        background-color: #fff;
        border: 1px solid transparent;
        padding: 20px 32px;
        font-size: 14px;
        transition: all .5s ease; }
        .information .container .information_button a:hover {
          background-color: #7beec7;
          color: #fff;
          border: 1px solid #FFF; }
    .information .container .information_form {
      flex: 0 1 48%;
      background-color: #fff;
      padding: 20px 30px 20px 20px;
      margin-top: 5px; }
      .information .container .information_form h2 {
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 0px; }
      .information .container .information_form p {
        margin-bottom: 20px; }
      .information .container .information_form form {
        display: flex; }
        .information .container .information_form form input {
          flex: 1 1 auto;
          outline: none;
          border: 1px solid #cdcdcd;
          padding: 21px 0px 21px 20px; }
          .information .container .information_form form input::-webkit-input-placeholder {
            text-transform: uppercase;
            color: #cdcdcd;
            font-size: 12px; }
        .information .container .information_form form button {
          background-color: #7beec7;
          color: #fff;
          font-size: 14px;
          text-transform: uppercase;
          padding: 20px 48px;
          border: 1px solid transparent;
          transition: all .5s ease; }
          .information .container .information_form form button:hover {
            background-color: #fff;
            color: #7beec7;
            border: 1px solid #7beec7; }

.footer {
  width: 100%;
  padding: 50px; }
  .footer .container {
    display: flex;
    justify-content: space-between; }
    .footer .container .footer_navigation {
      flex: 0 1 55%; }
      .footer .container .footer_navigation ul {
        display: flex;
        justify-content: space-between; }
        .footer .container .footer_navigation ul li {
          text-transform: uppercase;
          margin-right: 10px; }
          .footer .container .footer_navigation ul li a {
            color: #999999; }
            .footer .container .footer_navigation ul li a:hover {
              color: #333; }
            .footer .container .footer_navigation ul li a:before {
              content: "";
              display: inline-block;
              width: 5px;
              height: 2px;
              background-color: #999999;
              position: relative;
              top: -5px;
              left: -20px; }
        .footer .container .footer_navigation ul li:first-child {
          list-style-type: none;
          padding-left: 0; }
          .footer .container .footer_navigation ul li:first-child a:before {
            display: none; }
    .footer .container .footer_content p {
      text-transform: uppercase;
      line-height: initial;
      margin-bottom: 20px;
      font-size: 14px; }
    .footer .container .footer_content ul {
      display: flex;
      justify-content: flex-end; }
      .footer .container .footer_content ul li {
        display: inline-block;
        width: 22px;
        height: 16px;
        background: url(../IMG/sprait_footer.png) left 4px center no-repeat; }
        .footer .container .footer_content ul li a {
          display: inline-block;
          width: 100%;
          height: 100%; }
      .footer .container .footer_content ul li:nth-child(2) {
        background: url(../IMG/sprait_footer.png) left -25px center no-repeat; }
      .footer .container .footer_content ul li:nth-child(3) {
        background: url(../IMG/sprait_footer.png) left -58px center no-repeat; }
      .footer .container .footer_content ul li:nth-child(4) {
        background: url(../IMG/sprait_footer.png) left -90px center no-repeat; }
      .footer .container .footer_content ul li:nth-child(5) {
        background: url(../IMG/sprait_footer.png) left -123px center no-repeat; }
      .footer .container .footer_content ul li:nth-child(6) {
        background: url(../IMG/sprait_footer.png) right 3px center no-repeat; }

@keyframes tabs {
  0% {
    opacity: 0;
    transform: translateX(-10%); }
  50% {
    opacity: 0.5;
    transform: translateX(0); }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=journal.css.map */
