@mixin container_fluid(){
	width: 100%;
	padding: 100px 0px;	
}
@mixin h2Moderator(){
	text-align: center;
	max-width: 270px;
	margin: 0 auto 28px;
	position: relative;
	z-index: 2;

	&:before{
		content: "";
		display: inline-block;
		background-color: $btnColor;
		width: 70px;
		height: 20px;
		position: absolute;
		top: 12px;
		left: 10px;
		z-index: -1;
	}
}
@mixin animateStyles(){
	transform: translateY(100%);
	opacity: 0;
	transition: all .8s ease;
}

@mixin animateStop(){
	transform: translate(0);
	opacity: 1;
}
@mixin pHeader(){
	max-width: 715px;
	margin: 0 auto;
	text-align: center;
}
$text: Ionicons, Montserrat, AdobeInvisFont, Myriadl Regular;
$btnColor: #7beec7;
$headerColor: #60606e;
$paragraphColor: #999999;

$monserat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

.container{
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;
}

p{
	color: $paragraphColor;
	font-size: 14px;
	line-height: 24px;
	font-family: $openSans
}
h2{
	font-size: 30px;
	color: $headerColor;
	text-transform: uppercase;
	margin-bottom: 28px;
	font-family: $monserat;
}
h4{
	text-transform: uppercase;
	font-size: 14px;
	color: $headerColor;
	margin-bottom: 30px;
	font-family: $monserat;
}


.header{
	@include container_fluid();
	padding: 0; 
	background: url(../IMG/bg_2.jpeg) center/ cover no-repeat;

	& .wrapper{
		@include container_fluid;
		padding: 1px 0px; 
		background-color: rgba(255, 255, 255, 0.85);

		.container{
			margin: 0 auto;
			padding: 0px 20px;

			& .navigation{
				height: 100px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				& .logo{
					flex: 0 1 20%;
					text-transform: uppercase;
					color: $headerColor;
					font-size: 20px;
					font-family: $monserat;
					font-weight: bold;	
				}
				& .navigation_menu{
					flex: 0 1 60%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					& ul{
						flex: 1 1 auto;
						display:flex;
						justify-content: space-between;
						align-items: center;
						opacity: 0;
	                    transform: scaleX(0) translateX(10%);
	                    transform-origin: 100% 50%;
	                    transition: all .4s ease;

						& a{
							display: inline-block;
							text-align: center;
							color: $paragraphColor;
							font-size: 16px;
							font-family: $openSans;
							background-color: $headerColor;
							padding: 8px 15px;
							border-radius: 7px;
							width: 95px;
							transition: all .5s ease;

							&:hover{
								color: $headerColor;
								background-color: $paragraphColor;
							}
						}	
					}
					& .open{
	                    	visibility: visible;
	                    	transform: scaleX(1) translateX(0);
	                    	opacity: 1;
	                }
					& .burger{
						display:inline-block;
						width: 40px;
						margin-left: 20px;
						position: relative;

						& span{
							display: inline-block;
							width: 25px;
							height: 4px;
							background-color: $paragraphColor;
							margin-bottom: 8px;
							transition: all .4s ease;
						}
					}
					.burger:before{
						content: "";
						display: inline-block;
						position: relative;
						left: 0;
						top: -2px;
						width: 40px;
						border-top: 4px solid $paragraphColor;
						transition: all .5s ease;
					}
					.burger:after{
						content: "";
						display: inline-block;
						position: absolute;
						left: 0;
						top: 22px;
						width: 35px;
						border-top: 4px solid $paragraphColor;
						transition: all .5s ease;
					}
					& .cross{
						& span{
							opacity: 0;
            				transition: all .6s ease;
						}
						&:before{
							content: "";
			            	display: inline-block;
				            position: relative;
				            left: 0;
				            top: 6px;
				            width: 40px;
				            border-top: 4px solid #999999;
			            	transform: rotate(45deg);
			            	transition: all .8s ease;
						}
						&:after{
							content: "";
			            	display: inline-block;
			                position: absolute;
			                left: 0;
			            	width: 40px;
			            	top: 14px;
			            	 border-top: 4px solid #999999;
			            	transform: rotate(-45deg);
			            	transition: all .8s ease;
						}
					}
				}
			}

			& .header_content_item{
				margin-top: 210px;
				margin-bottom: 165px;
				position: relative;

				@media screen and (max-width: 768px){
						margin: 80px 0px;
					}

				& .header_content_head{
					text-align: center;


					h1{
						color: $headerColor;
						text-transform: uppercase;
						font-size: 36px;
						font-family: $monserat;
						margin-bottom: 28px;
						@include animateStyles();
					}
				}

				.header_content_links{
					@include animateStyles();
					transition-delay: .5s;

					a{
						text-transform: uppercase;
						color: $headerColor;
						font-size: 14px;
						font-family: $openSans;

						&:hover{
							color: #333;
						}
					}
				}
			}

			.active .animate, .active .header_content_head .animate{
				@include animateStop();
			}
		}
	}
}
.blog{
	width: 100%;
	padding: 150px 0px;

	& .blog_wrapper{
		display: flex;
		justify-content: space-between;

		& .blog_sidebar{
			flex: 0 1 270px;
			position: relative;
			@include animateStyles();

			.sidebar_toggle{
				display:none;
			}

			form{
				display: block;
				width: 100%;
				position: relative;

				& input{
					background-color: #ececec;
					padding: 18px 0px 14px 16px;
					display: block;
					width: 100%;
					margin-bottom: 50px;

					&::-webkit-input-placeholder{
						color: $paragraphColor;
						text-transform: uppercase;
					}
				}

				& button{
					width: 15px;
					height: 15px;
					display: inline-block;
					position: absolute;
					top: 17px;
					right: 25px;
					background: url(../IMG/sprait_blog.png) right center no-repeat;
					cursor: pointer;	
				}
			}

			.sidebar_posts{
				margin-bottom: 50px;

				& > h4{
					@include animateStyles();
				}

				.blog_sidebar_tab{
					@include animateStyles();
					transition-delay: .4s;
					 .blog_sidebar_labels{
						display: flex;
						justify-content: space-between;
						margin-bottom: 30px;

						label{
							flex: 1 1 33.333%;
							text-transform: uppercase;
							text-align: center;
							color: #989898;
							font-size: 12px;
							font-family: $monserat;
							font-weight: bold;
							padding-bottom: 20px;
							border-bottom: 2px solid #989898;
							transition: all .4s ease;
						}
					}

					input{
						visibility: hidden;
					}

					#l1:checked ~ .blog_sidebar_labels label:first-child{
							color: $headerColor;
							border-bottom: 2px solid $btnColor;
							transition: all 1s ease;
						}
					#l1:checked ~ .blog_sidebar_item_wrapper .one{
							animation: tabs 1.5s ease alternate forwards;
							z-index: 1;
						}
					#l2:checked ~ .blog_sidebar_labels label:nth-child(2){
							color: $headerColor;
							border-bottom: 2px solid $btnColor;
							transition: all 1s ease;
						}
					#l2:checked ~ .blog_sidebar_item_wrapper .two{
							animation: tabs 1.5s ease alternate forwards;
							z-index: 1;
						}
					#l3:checked ~ .blog_sidebar_labels label:last-child{
							color: $headerColor;
							border-bottom: 2px solid $btnColor;
						}
					#l3:checked ~ .blog_sidebar_item_wrapper .three{
							animation: tabs 1.5s ease alternate forwards;
							z-index: 1;
						}

				    .blog_sidebar_item_wrapper{
				    	position: relative;
				    	height: 260px;

				    	.blog_sidebar_tab_item{
					 		position: absolute;
					 		width: 100%;
					 		height: 100%;
					 		z-index: 0;
					 		opacity: 0;
							

							a{
								display: flex;
								width: 100%;
								margin-bottom: 10px;

								.blog_sidebar_tab_img{
									flex: 0 0 90px;
									height: 80px;
									background: url(../IMG/bg_1.jpeg) center/ cover no-repeat;
									margin-right: 20px;
								}

								.blog_sidebar_tab_content{
									flex: 1 1 auto;
									display: flex;
									justify-content: center;
									flex-direction: column;

									h4{
										margin-bottom: 8px; 
									}

									p{
										line-height: normal;
									}
								}

							}
						}

						.one a:nth-child(2) .blog_sidebar_tab_img{
							background: url(../IMG/bg_3.jpeg) center/ cover no-repeat;
						}
						.one a:nth-child(3) .blog_sidebar_tab_img{
							background: url(../IMG/bg_4.jpeg) center/ cover no-repeat;
						}
						.two a:nth-child(1) .blog_sidebar_tab_img{
							background: url(../IMG/bg_2.jpeg) center/ cover no-repeat;
						}
						.two a:nth-child(2) .blog_sidebar_tab_img{
							background: url(../IMG/portfolio_middle_top.jpeg) center/ cover no-repeat;
						}
						.two a:nth-child(3) .blog_sidebar_tab_img{
							background: url(../IMG/bg_3.jpeg) center/ cover no-repeat;
						}
						.three a:nth-child(1) .blog_sidebar_tab_img{
							background: url(../IMG/team_1.jpeg) center/ cover no-repeat;
						}
						.three a:nth-child(2) .blog_sidebar_tab_img{
							background: url(../IMG/team_3.jpeg) center/ cover no-repeat;
						}
						.three a:nth-child(3) .blog_sidebar_tab_img{
							background: url(../IMG/team_5.jpeg) center/ cover no-repeat;
						}
				    }
				}
			}
			.active .animate{
				@include animateStop();
			}

			.sidebar_categories{
				h4{
					@include animateStyles();
					font-family: $monserat;
				}
				margin-bottom: 50px;

				.categories_link{
					width: 100%;
					border-bottom: 1px solid #989898;
					@include animateStyles();
					transition-delay: .4s;

					a{
						display: flex;
						justify-content: space-between;
						padding: 20px 15px;
						color: $paragraphColor;
						font-size: 14px;
						font-family: $openSans;
					}
				}
				.categories_link:nth-child(2){
					transition-delay: .5s;
				}
				.categories_link:nth-child(3){
					transition-delay: .6s;
				}
				.categories_link:nth-child(4){
					transition-delay: .7s;
				}
			}
			.active .animate{
				@include animateStop();
			}

			.sidebar_tags{
				margin-bottom: 50px;

				h4{
					@include animateStyles();
					font-family: $monserat;
				}

				.blog_sidebar_tags_links{
					display: flex;
					flex-wrap: wrap;
					@include animateStyles();
					transition-delay: .4s;

					a{
						padding: 12px 18px;
						background-color: #e5e5e5;
						margin-right: 3px;
						margin-bottom: 4px;
						text-transform: uppercase;
						color: $paragraphColor;
						font-size: 12px;
						font-family: $monserat;
						font-weight: bold;
					}

					a:nth-child(5){
						padding: 12px 22px;
					}
				}
			}
			.active .animate{
				@include animateStop();
			}

			.sidebar_archives{
				margin-bottom: 50px;
				h4{
					@include animateStyles();
					font-family: $monserat;
				}

				.archive_link{
					width: 100%;
					border-bottom: 1px solid #989898;
					@include animateStyles();
					transition-delay: .4s;

					a{
						display: flex;
						justify-content: space-between;
						padding: 20px 15px;
						color: $paragraphColor;
						font-size: 14px;
						font-family: $openSans;
					}
				}
			}
			.active .animate{
				@include animateStop();
			}
		}
		& .blog_main{
			flex: 0 1 67%;
			margin-right: 50px;
			@include animateStyles();
			transition-delay: .4s;

			& .blog_main_item{
				margin-bottom: 100px;

				& .blog_main_item_image{
					width: 100%;
					height: 500px;
					margin-bottom: 30px;
					background: url(../IMG/bg_1.jpeg) center/ cover no-repeat;
				}

				& .blog_main_item_vidjet{
					margin-bottom: 30px;

					& span{
						display: inline-block;
						padding: 10px 20px;
						background-color: $btnColor;
						color: #fff;
						text-transform: uppercase;
						font-size: 14px;
						font-family: $monserat;
						margin-right: 15px;
					}

					& a:first-of-type{
						font-size: 14px;
						color: #ccc;
						font-family: $monserat;
						margin-right: 20px;

						&:before{
							content: "";
							display: inline-block;
							width: 17px;
							height: 15px;
							margin-right: 10px;
							background: url(../IMG/sprait_blog.png) left 2px center no-repeat;
							position: relative;
    						top: 3px;
						}
					}

					& a:last-of-type{
						font-size: 14px;
						font-family: $monserat;
						color: #ccc;

						&:before{
							content: "";
							display: inline-block;
							width: 17px;
							height: 15px;
							margin-right: 10px;
							background: url(../IMG/sprait_blog.png) left -29px center no-repeat;
							position: relative;
    						top: 3px;
						}
					}
				}
				& .blog_main_item_text{
					& h3{
						text-transform: uppercase;
						color: $headerColor;
						font-size: 18px;
						font-family: $monserat;
						margin-bottom: 20px;
					}
					& p{
						margin-bottom: 30px;
					}

					& a{
						color: $headerColor;
						text-transform: uppercase;
						font-size: 14px;
						font-family: $monserat;
						font-weight: bold;

						&:after{
							content: "\2911";
							padding-left: 10px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.active .animate{
		@include animateStop();
	}
}

.information{
	width: 100%;
	background-color: $btnColor;
	padding: 50px 0px;

	& .container{
		display: flex;
		justify-content: space-between;

		& .information_button{
			flex: 0 1 49%;
			margin-right: 30px; 

			& h2{
				color: #fff;
				letter-spacing: 1px;
				line-height: 40px;
				margin-bottom: 30px;
				@include animateStyles();
			}
			& a{
				display: inline-block;
				text-transform: uppercase;
				color: $btnColor;
				background-color: #fff;
				border: 1px solid transparent;
				padding: 20px 28px;
				font-size: 14px;
				font-family: $monserat;
				@include animateStyles();
				transition: all .5s ease;

				&:hover{
					background-color: $btnColor;
					color: #fff;
					border: 1px solid #FFF;
				}
			}
		}
		& .information_form{
			flex: 0 1 48%;
			background-color: #fff;
			padding: 20px 30px 20px 20px;
			margin-top: 5px;
			@include animateStyles();
			transform: translateX(-100%);
			transition-delay: 0.4s;

			& h2{
				letter-spacing: 1px;
				line-height: 40px;
				margin-bottom: 0px;
			}
			& p{
				margin-bottom: 20px;
			}
			& form{
				display: flex;

				input{
				flex: 1 1 auto;
					outline: none;
					border: 1px solid #cdcdcd;
					padding: 21px 0px 21px 20px;

					&::-webkit-input-placeholder{
						text-transform: uppercase;
						color: #cdcdcd;
						font-size: 12px;
					}
				}
				button{
					background-color: $btnColor;
					color: #fff;
					font-size: 14px;
					font-family: $monserat;
					text-transform: uppercase;
					padding: 20px 48px;
					border: 1px solid transparent;
					transition: all .5s ease;

					&:hover{
						background-color: #fff;
						color: $btnColor;
						border: 1px solid $btnColor;
					}
				}
			}
		}
	}

	.active .information_button .animate , .active .animate{
			@include animateStop();
		}
}

.footer{
	width: 100%;
	padding: 50px;

	& .container{
		display: flex;
		justify-content: space-between;

		& .footer_navigation{
			flex: 0 1 55%;

			& ul{
				display: flex;
				justify-content: space-between;

				& li{
					text-transform: uppercase;
					margin-right: 10px;

					& a{
						color: $paragraphColor;
						font-family: $openSans;

						&:before{
							content:"";
							display: inline-block;
							width: 5px;
							height: 2px;
							background-color: $paragraphColor;
							position: relative;
							top: -5px;
							left: -20px;
						}

						&:hover{
							color: #333;
						}
					}
				}
				& li:first-child{
					list-style-type: none;
					padding-left: 0;

					& a{
						&:before{
							display: none;
						}
					}
				}
			}
		}
		& .footer_content{ 
			p{
				text-transform: uppercase;
				line-height: initial;
				margin-bottom: 20px;
				font-size: 14px;
				font-family: $openSans;
			}
			ul{
				display: flex;
				justify-content: flex-end;

				li{
					display: inline-block;
					width: 22px;
					height: 16px;
					background: url(../IMG/sprait_footer.png) left 4px center no-repeat;

					a{
						display: inline-block;
						width: 100%;
						height: 100%;
					}
				}
				li:nth-child(2){
					background: url(../IMG/sprait_footer.png) left -25px center no-repeat;
				}
				li:nth-child(3){
					background: url(../IMG/sprait_footer.png) left -58px center no-repeat;
				}
				li:nth-child(4){
					background: url(../IMG/sprait_footer.png) left -90px center no-repeat;
				}
				li:nth-child(5){
					background: url(../IMG/sprait_footer.png) left -123px center no-repeat;
				}
				li:nth-child(6){
					background: url(../IMG/sprait_footer.png) right 3px center no-repeat;
				}
			}
		}
	}
}

.modal_information{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;

	& .modal_information_container{
		width: 300px;
		margin: 0 auto;
		background-color: #fff;
		position: relative;
		padding: 50px;

		h2{
			text-align: center;
		}

		span{
			font-size: 20px;
			position: absolute;
			right: 5px;
			top: 5px;
			cursor: pointer;
		}
	}
}

.btnScroll{
	display: inline-block;
	width: 1px;
	border-radius: 50%;
	position: fixed;
	bottom: 100px;
	right: 75px;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: all .5s ease;

	&:after{
		content: url(../IMG/arrow_pointer.svg);
		display: inline-block;
		width: 60px;
		position: absolute;
		left: 0;
		top: 0;
		transform: rotate(-90deg);
	}
}
.showbtn{
	visibility: visible;
	opacity: 1;
}

@keyframes tabs{
	0%{
		opacity: 0;
		transform: translateX(-20%) scale(0.9);
	}
	70%{
		opacity: 0.8;
		transform: translateX(0) scale(0.9);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}