@media screen and (max-width: 1150px) {
  .footer .container .footer_navigation ul li a:before {
    display: none; } }
@media screen and (max-width: 992px) {
  .header .wrapper .container .navigation {
    height: 50px; }
  .header .wrapper .container .header_content {
    margin-top: 130px; }
    .header .wrapper .container .header_content .header_content_head {
      margin-bottom: 50px; }
    .header .wrapper .container .header_content .header_content_footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0; }
      .header .wrapper .container .header_content .header_content_footer .header_image {
        margin-bottom: 35px;
        margin-right: 0; }
      .header .wrapper .container .header_content .header_content_footer .header_content_discription div {
        text-align: center;
        margin-bottom: 30px; }

  .work {
    padding-top: 100px; }
    .work .container .work_head p {
      margin-bottom: 80px; }
    .work .container .work_content {
      margin-bottom: 80px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .work .container .work_content .work_content_list {
        margin-right: 0;
        margin-bottom: 50px; }
        .work .container .work_content .work_content_list .work_content_list_flex {
          -ms-flex-pack: distribute;
              justify-content: space-around; }
          .work .container .work_content .work_content_list .work_content_list_flex ul {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 25%;
                    flex: 0 1 25%; }

  .pricing {
    padding-top: 100px; }

  .choose {
    padding-top: 120px; }
    .choose .container .choose_head {
      margin-bottom: 70px; }
    .choose .container .choose_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .choose .container .choose_content .choose_content_discriptions {
        margin-right: 0;
        padding-top: 0;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .choose .container .choose_content .choose_content_discriptions .discriptions_item {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 35%;
                  flex: 0 1 35%;
          padding-bottom: 30px; }

  .benefit .container .benefit_head {
    margin-bottom: 70px; }
  .benefit .container .benefit_items {
    margin: 0px 40px 80px; }
    .benefit .container .benefit_items .benefit_item:nth-child(3), .benefit .container .benefit_items .benefit_item:nth-child(6) {
      display: none; }

  .team .container .team_foto .team_foto_item:nth-child(n+7) {
    display: none; }
  .team .container .team_foto .team_foto_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%; }

  .partners .container .partners_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0px 40px; }
    .partners .container .partners_wrapper .partners_slider {
      margin-right: 0;
      margin-bottom: 50px; }
    .partners .container .partners_wrapper .partners_links {
      margin-bottom: 50px; }

  .blog .blog_wrapper .blog_main .swiper-container {
    height: 370px; }

  .blog .blog_wrapper .blog_main .blog_portfolio .portfolio_slider_wrapper .portfolio_slider_item {
    height: 340px; }

  .portfolio {
    padding-top: 100px; }
    .portfolio .portfolio_content {
      margin-bottom: 100px; }

  .information .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .information .container .information_button {
      margin-right: 0;
      margin-bottom: 30px; }
      .information .container .information_button h2 {
        text-align: center; }
      .information .container .information_button a {
        width: 165px;
        margin: 0 auto;
        display: block; }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .container .footer_navigation {
      margin-bottom: 30px; }
    .footer .container .footer_content p {
      text-align: center; }
    .footer .container .footer_content ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
@media screen and (max-width: 840px) {
  .pricing .container .pricing_cards .pricing_card_wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 0; } }
@media screen and (max-width: 768px) {
  .header .wrapper .container .navigation {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    padding-top: 10px; }
    .header .wrapper .container .navigation .navigation_menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      z-index: 3; }
      .header .wrapper .container .navigation .navigation_menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        right: 70px;
        top: -25px; }
        .header .wrapper .container .navigation .navigation_menu ul li {
          margin-bottom: 5px; }
      .header .wrapper .container .navigation .navigation_menu .open {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        right: 70px;
        top: -25px; }
  .header .wrapper .container .header_content .header_content_head h1 {
    font-size: 35px;
    border: 6px solid #60606e;
    padding: 23px 0px; }
  .header .wrapper .container .header_content .header_content_head p {
    font-size: 14px; }
  .header .wrapper .container .header_content .header_content_footer .header_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px; }
  .header .wrapper .container .header_content .header_content_footer .header_content_discription {
    padding-top: 0px; }
    .header .wrapper .container .header_content .header_content_footer .header_content_discription h2 {
      text-align: center; }

  .choose {
    padding-top: 80px; }
    .choose .container .choose_head {
      margin-bottom: 50px; }
    .choose .container .choose_content .choose_content_discriptions .discriptions_item {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      padding-bottom: 30px;
      padding-left: 0;
      text-align: center; }
      .choose .container .choose_content .choose_content_discriptions .discriptions_item:before {
        left: 50%;
        top: 0px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .choose .container .choose_content .choose_content_image {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 350px;
              flex: 0 1 350px; }

  .work .container .work_content .work_content_list .work_content_list_flex ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%; }

  .contacts {
    padding: 90px 0px; }
    .contacts .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .contacts .container .contact_form {
        margin-right: 0; }
      .contacts .container .contact_map {
        margin-bottom: 50px;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 300px;
                flex: 0 1 300px;
        height: 0; }

  .aboutUs {
    padding-top: 100px; }
    .aboutUs .container .aboutUs_container {
      margin: 0px 50px 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .aboutUs .container .aboutUs_container .aboutUs_container_item {
        margin-bottom: 50px;
        margin-right: 0; }
        .aboutUs .container .aboutUs_container .aboutUs_container_item h2 {
          text-align: center; }
          .aboutUs .container .aboutUs_container .aboutUs_container_item h2:before {
            left: 39px; }
        .aboutUs .container .aboutUs_container .aboutUs_container_item h4 {
          text-align: center; }
      .aboutUs .container .aboutUs_container .aboutUs_container_item:first-child h2:before {
        left: 62px; }

  .benefit .container .benefit_head {
    margin-bottom: 70px; }
  .benefit .container .benefit_items {
    margin: 0px 50px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .benefit .container .benefit_items .benefit_item {
      margin-right: 0; }
    .benefit .container .benefit_items .benefit_item:nth-child(3), .benefit .container .benefit_items .benefit_item:nth-child(6) {
      display: none; }

  .team .container .team_foto .team_foto_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%; }
  .team .container .team_foto .team_foto_item:nth-child(even) {
    margin-right: 0; }

  .partners .container .partners_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0px 40px; }
    .partners .container .partners_wrapper .partners_slider {
      margin-right: 0;
      margin-bottom: 50px; }
    .partners .container .partners_wrapper .partners_links {
      margin-bottom: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .partners .container .partners_wrapper .partners_links .partners_links_item {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 45%;
                flex: 0 1 45%;
        height: 130px;
        margin-right: 0; }

  .blog {
    padding: 115px 0px 80px; }
    .blog .blog_wrapper {
      position: relative; }
      .blog .blog_wrapper .blog_main {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        margin-right: 0; }
        .blog .blog_wrapper .blog_main .blog_comments:hover {
          -webkit-transform: none;
                  transform: none; }
      .blog .blog_wrapper .blog_sidebar {
        -webkit-transform: translateX(-110%);
                transform: translateX(-110%);
        position: absolute;
        background-color: #fff;
        -webkit-transition: all .6s ease;
        transition: all .6s ease;
        z-index: 8;
        top: -115px;
        width: 270px; }
        .blog .blog_wrapper .blog_sidebar .sidebar_toggle {
          display: inline-block;
          text-align: center;
          background-color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          color: #60606e;
          background: -webkit-gradient(linear, left bottom, left top, from(#60606e), to(#999999));
          background: linear-gradient(to top, #60606e, #999999);
          padding: 18px 20px;
          position: absolute;
          right: -82px;
          top: 29px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
        .blog .blog_wrapper .blog_sidebar .sidebar_categories, .blog .blog_wrapper .blog_sidebar .sidebar_tags, .blog .blog_wrapper .blog_sidebar .sidebar_archives {
          display: none; }
      .blog .blog_wrapper .sidebar_show {
        -webkit-transform: translateX(-7%);
                transform: translateX(-7%);
        width: 270px;
        padding: 10px 15px 10px;
        -webkit-transition: all .8s ease;
        transition: all .8s ease; }

  .portfolio {
    padding-top: 80px; }
    .portfolio .container .portfolio_head {
      margin-bottom: 80px; }
    .portfolio .container .portfolio_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .portfolio .container .portfolio_content .portfolio_content_navigation .active {
        margin: 0px 0px 13px;
        padding: 6px 0px;
        background-color: #7beec7;
        color: #fff; }
      .portfolio .container .portfolio_content .portfolio_content_navigation h2 {
        text-align: center; }
      .portfolio .container .portfolio_content .portfolio_content_navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .portfolio .container .portfolio_content .portfolio_content_navigation ul li {
          margin: 0px 0px 13px;
          padding: 6px 0px;
          -webkit-box-flex: 0;
              -ms-flex: 0 1 30%;
                  flex: 0 1 30%;
          text-align: center; }
      .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 25%;
                flex: 1 1 25%; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:first-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 120px;
                  flex: 0 1 120px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:nth-child(2) {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 190px;
                  flex: 0 1 190px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:last-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 280px;
                  flex: 0 1 280px; }
      .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 25%;
                flex: 1 1 25%; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:first-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 125px;
                  flex: 0 1 125px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:nth-child(2) {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 220px;
                  flex: 0 1 220px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:last-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 245px;
                  flex: 0 1 245px; }
      .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 25%;
                flex: 1 1 25%; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:first-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 263px;
                  flex: 0 1 263px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:nth-child(2) {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 135px;
                  flex: 0 1 135px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:last-child {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 100px;
                  flex: 0 1 100px; }

  .information .container .information.button h2 {
    font-size: 25px; }

  .footer {
    padding: 50px 0px; } }
@media screen and (max-width: 600px) {
  .pricing .pricing_cards .pricing_card_wrapper .pricing_card_item {
    padding: 30px 0px 1px 30px; }
    .pricing .pricing_cards .pricing_card_wrapper .pricing_card_item h2 {
      text-align: center; }
    .pricing .pricing_cards .pricing_card_wrapper .pricing_card_item span {
      display: block;
      width: 160px;
      padding: 11px 0px 8px;
      margin: 0px auto 35px;
      text-align: center; }
    .pricing .pricing_cards .pricing_card_wrapper .pricing_card_item ul {
      margin: 0px auto 35px;
      width: 200px; }
    .pricing .pricing_cards .pricing_card_wrapper .pricing_card_item input {
      display: block;
      width: 134px;
      margin: 0px auto 40px;
      padding: 22px 0px 18px;
      text-align: center; }

  .partners .container .partners_wrapper .partners_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .partners .container .partners_wrapper .partners_links .partners_links_item {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      height: 160px; } }
@media screen and (max-width: 500px) {
  p {
    font-size: 14px; }

  .header .wrapper .container .navigation .navigation_menu ul {
    right: 0px;
    top: 10px;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    /* transform-origin: 100% 50%; */
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .header .wrapper .container .navigation .navigation_menu .open {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    right: 0px;
    top: 10px; }
  .header .wrapper .container .header_content .header_content_footer .header_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px; }
  .header .wrapper .container .header_content .header_content_footer .header_content_discription {
    padding-top: 0px; }
    .header .wrapper .container .header_content .header_content_footer .header_content_discription h2 {
      font-size: 25px; }

  .choose .container .choose_content .choose_content_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 280px;
            flex: 0 1 280px; }

  .work .container .work_content .work_content_list p {
    text-align: center; }
  .work .container .work_content .work_content_list .work_content_list_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .work .container .work_content .work_content_list .work_content_list_flex ul {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 35%;
              flex: 0 1 35%;
      font-size: 18px; }
    .work .container .work_content .work_content_list .work_content_list_flex ul:first-of-type {
      margin-left: -13px; }
  .work .container .work_content .work_content_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px; }

  .contacts .container .contact_form form input:first-child, .contacts .container .contact_form form input:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 0px; }

  .aboutUs .container .aboutUs_container {
    margin: 0px 0px 60px; }

  .benefit .container .benefit_items {
    margin: 0px 0px 40px; }

  .team .container .team_head {
    margin-bottom: 50px; }
  .team .container .team_foto .team_foto_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 20px 30px; }
  .team .container .team_foto .team_foto_item:nth-child(even) {
    margin-right: 20px; }
  .team .container .team_information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px; }
    .team .container .team_information p {
      margin-bottom: 20px; }

  .partners .container .partners_wrapper .partners_slider .slider_label {
    width: 185px;
    text-align: center; }
    .partners .container .partners_wrapper .partners_slider .slider_label label {
      width: 30px;
      height: 7px;
      margin: 0px 5px 0px; }
      .partners .container .partners_wrapper .partners_slider .slider_label label:hover {
        width: 40px;
        background-color: #7beec7; }

  .blog .blog_wrapper .blog_main .blog_portfolio h2 {
    text-align: center;
    font-size: 18px; }
  .blog .blog_wrapper .blog_main .blog_comments {
    border: 1px solid #999;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 9px #999;
            box-shadow: 1px 1px 9px #999; }
    .blog .blog_wrapper .blog_main .blog_comments .blog_comments_logo {
      float: none; }
    .blog .blog_wrapper .blog_main .blog_comments .blog_comments_text {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0px; }
  .blog .blog_wrapper .sidebar_show {
    -webkit-transform: translateX(-7%);
            transform: translateX(-7%);
    width: 265px;
    padding-left: 20px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }

  .blog .blog_wrapper .blog_main .blog_main_item .blog_main_item_vidjet a:first-of-type {
    margin-right: 5px; }

  .blog .blog_wrapper .blog_main .swiper-container {
    height: 250px; }

  .blog .blog_wrapper .blog_main .blog_portfolio .portfolio_slider_wrapper .portfolio_slider_item {
    height: 210px; }

  .portfolio {
    padding-top: 80px; }
    .portfolio .container .portfolio_head {
      margin-bottom: 50px; }
    .portfolio .container .portfolio_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .portfolio .container .portfolio_content .portfolio_content_navigation .portfolio_content_link {
        display: inline-block;
        text-align: center;
        width: 100px;
        padding: 10px 0px;
        background-color: #f7f7f7;
        border: 5px solid #60606e;
        text-transform: uppercase;
        color: #999;
        position: absolute;
        top: 90px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        .portfolio .container .portfolio_content .portfolio_content_navigation .portfolio_content_link:hover {
          background-color: #7beec7; }
      .portfolio .container .portfolio_content .portfolio_content_navigation h2 {
        text-align: center; }
      .portfolio .container .portfolio_content .portfolio_content_navigation ul {
        margin-top: 100px;
        height: 0px;
        overflow: hidden;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .portfolio .container .portfolio_content .portfolio_content_navigation ul li {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 100%;
                  flex: 0 1 100%; }
      .portfolio .container .portfolio_content .portfolio_content_navigation .portfolio_toggle {
        height: 280px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column {
          margin-right: 0px;
          margin-bottom: 30px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:first-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 185px;
                    flex: 0 1 185px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:nth-child(2) {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 190px;
                    flex: 0 1 190px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_left_column .portfolio_slider_item:last-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 280px;
                    flex: 0 1 280px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column {
          margin-right: 0px;
          margin-bottom: 30px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:first-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 200px;
                    flex: 0 1 200px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:nth-child(2) {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 290px;
                    flex: 0 1 290px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_middle_column .portfolio_slider_item:last-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 245px;
                    flex: 0 1 245px; }
        .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column {
          margin-right: 0px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:first-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 263px;
                    flex: 0 1 263px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:nth-child(2) {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 190px;
                    flex: 0 1 190px; }
          .portfolio .container .portfolio_content .portfolio_content_slider .portfolio_content_slider_container .portfolio_slider_right_column .portfolio_slider_item:last-child {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 180px;
                    flex: 0 1 180px; }

  .information .container .information.button h2 {
    font-size: 25px;
    text-align: center; }
  .information .container .information_form h2, .information .container .information_form p {
    text-align: center; }
  .information .container .information_form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .information .container .information_form form input {
      padding: 21px 0px; }
      .information .container .information_form form input::-webkit-input-placeholder {
        text-align: center; }

  .footer .container .footer_navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .footer .container .footer_navigation ul li {
      margin-bottom: 10px; }

  .modal_pricing .modal_pricing_container {
    max-width: 350px; } }
@media screen and (max-width: 330px) {
  .team .team_head h2:before {
    left: 35px; } }

/*# sourceMappingURL=media.css.map */